.customize-game-container {
  --color-grey: #f2f2f2;
  --color-grey-selected: #ffeeb5;
}

.team-customization-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.team-a {
  background-color: rgba(0, 0, 255, 0.233);
}

.team-b {
  background-color: rgba(255, 0, 0, 0.26);
}

.arrow-go-left {
  cursor: pointer;
}

.arrow-go-right {
  transform: rotate(180deg);
  cursor: pointer;
}

.customize-game-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.all-players-selectors {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  width: 100%;
}

.player-selector {
  background-color: var(--color-grey);
  padding: 0 25px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}

.player-selector.selected {
  background-color: var(--color-grey-selected);
}

.player-selector > * {
  margin: 8px;
}

.position-input {
  width: 26px;
  text-align: center;
}
