* {
  box-sizing: border-box;
}

html {
  --team-blue-color : rgb(82, 82, 255);
  --team-red-color  : rgb(255, 79, 79);
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--team-blue-color);
  background: linear-gradient(90deg, var(--team-blue-color) 0%, var(--team-red-color) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-enter-active {
  opacity: 1 !important;
}
.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0 !important;
}
.fade-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active,
.customize-game-container {
  transition: all 500ms linear;
}

